APP_ENV="development"

PORT=3000
FIREBASE_PROJECT_ID=your-firebase-project-id
DATABASE_URL=your-database-url


JWT_AUDIENCE="your-jwt-audience"
JWT_ISSUER="your-jwt-issuer"
JWT_SECRET="your-jwt-secret"